################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo

# Build results
[Dd]ebug/
[Rr]elease/
*.db
*.opendb

# CMake build folder
build/

# Visual Studio user files
*/.vs/
